<!-- Type of Directives "'*'Structural Directive(*ngIf, *ngFor, *ngSwitch), and Attribute directive(ngClass, ngStyle)" -->
<h1>Welcome to {{hotelName}} </h1> <!-- String Interpolation -->
<div [hidden]="hideRooms"> <!-- Property Binding -->
    Number Of Rooms :
    <!-- [ngStyle] Directive -->
    <div [ngStyle]="{'color': rooms.availableRooms > 0 ? 'blue':'red'}" [innerText]="numberOfRooms"></div>
    <!-- Property Binding -->
</div>
{{ rooms?.availableRooms ?? 'No rooms' }} <!-- nullish coalescing operator (??) -->
<!-- {{ roomsList | json }} --> <!-- json pipe -->
<br>
<button (click)="toggle()">Toggle</button> <!-- Event Binding -->
<div *ngIf="selectedRoom">
    {{ selectedRoom | json }} <!-- json pipe -->
</div>
<div>
    <button (click)="addRoom()">Add Room</button> <!-- Event Binding -->
</div>
<div *ngIf="rooms.availableRooms > 0"> <!-- *ngIf Directive -->
    <!-- Here 'rooms' is a valid HTML property of this ('hinv-rooms-list') HTML tag, 
    So will use the Property Binding here.-->
    <!-- (selectedRoom)="selectRoom()" Event Binding. -->
    <!-- (selectedRoom)="selectRoom($event)": this will be the event that is received from the child component. -->
    <hinv-rooms-list [rooms]="roomsList" [title]="title" (selectedRoom)="selectRoom($event)"></hinv-rooms-list>
    <!-- Property Binding -->
</div>